<html xmlns:math="http://exslt.org/math" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:tl="https://kindlegen.s3.amazonaws.com/AmazonKindlePublishingGuidelines.pdf" xmlns:saxon="http://saxon.sf.net/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:cx="https://kindlegen.s3.amazonaws.com/AmazonKindlePublishingGuidelines.pdf"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:mbp="https://kindlegen.s3.amazonaws.com/AmazonKindlePublishingGuidelines.pdf"
  xmlns:mmc="https://kindlegen.s3.amazonaws.com/AmazonKindlePublishingGuidelines.pdf"
  xmlns:idx="https://kindlegen.s3.amazonaws.com/AmazonKindlePublishingGuidelines.pdf">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    .type {
      color: lightgrey;
    }
  </style>
</head>

<body>

  <mbp:frameset>

    <%= for entry <- entries do %>
      <idx:entry name="chinese" scriptable="yes" spell="yes">
        <idx:orth><%= entry.char %></idx:orth>

        <strong><%= entry.pinyin %></strong>

        <ol>
          <%= for def <- entry.definitions do %>
          <li>
            <%= if def.type do %><span class="type"><%= def.type %></span><% end %>
            <span class="def"><%= def.definition %></span>
            <%= for example <- def.examples do %>
              <span class="example"><%= example %></span>
            <% end %>
            <%= if def.quotes do %>
              <div class="quotes">
                <%= for quote <- def.quotes do %>
                <div><%= quote %></div>
                <% end %>
              </div>
            <% end %>
            <%= if def.synonyms do %>
              <div class="synonyms">
                <strong>似</strong> <%= def.synonyms %>
              </div>
            <% end %>
            <%= if def.antonyms do %>
              <div class="antonyms">
                <strong>反</strong> <%= def.antonyms %>
              </div>
            <% end %>
          </li>
          <% end %>
        </ol>

      </idx:entry>
      <hr/>
    <% end %>

  </mbp:frameset>

</body>

</html>
